@media (max-width:1200px) {

}

@media (max-width: 991px) {
    .header {
        &__contacts {
            padding-right: 30px;
        }
    }
    .promo {
        &__wrapper {
            padding-right: 30px;
        }
    }
    .consultation {
        text-align: center;
        &__descr {
            margin-top: 50px;
        }
    }
    .title {
        &_left {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
    }
    .catalog {
        &__content {
            justify-content: center;
            margin-top: 45px;
        }
        &-item {
            margin: 10px 10px;
        }
    }
    .feedback {
        &__wrapper {
            margin-top: 50px;
        }
        &__descr, &__img {
            margin-left: 20px;
        }
        &__descr {
            margin-right: 20px;
        }
        hr {
            width: 80%;
            margin: 30px auto 30px auto;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &__logo {
            width: 30%;
            padding-left: 20px;
        }
        &__contacts {
            padding-right: 20px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            padding-right: 0px;
        }
    }
    .advantages {
        &__icons {
            flex-wrap: wrap;
            justify-content: center;
        }
        &__icon {
            margin-bottom: 25px;
        }
    }
    .slider__inner {
        width: unset;
    }
    .slick-slide {
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .catalog {
        &__tab {
            width: 150px;
            font-size: 15px;
        }
        &__tabs {
            margin-top: 45px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 40%;
            padding-left: 10px;
        }
        &__contacts {
            padding-right:10px;
            a {
                font-size: 14px;
            }
        }
        &__official {
            display: none;
        }
    }
    .promo {
        &__header {
            font-size: 34px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .title {
        &_left {
            text-align: center;
            font-size: 30px;
        }
    }
    .consultation {
        text-align: center;
        &__descr {
            margin-top: 50px;
        }
    }
    .catalog {
        &__tab {
            width: 120px;
            font-size: 13px;
        }
    }
    .feedback {
        &__client {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__subtitle, &__name-client {
            text-align: center;
        }
        &__client-descr {
            padding: 0 15px 0 15px;
        }
        &__img {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 471px) {
    .promo {
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .footer {
        &__info {
            width: 100vw;
        }
        &__address {
            font-size: 22px;
            line-height: 30px;
        }
        &__social-item {
            border: none;
        }
    }
}

@media (max-width: 416px) {
    .promo {
        &__header {
            text-align: center;
        }
        &__subheader {
            text-align: center;
        }
        &__icons {
            justify-content: center;
            width: 100%;
        }
    }
    .title {
        &_left {
            text-align: center;
            font-size: 26px;
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
    .catalog {
        .title {
            font-size: 25px;
        }
        &__tab {
            width: 90px;
            font-size: 11px;
            &:nth-child(3) {
                line-height: 24px;
            }
        }
    }
    .footer {
        &__address {
            font-size: 20px;
            line-height: 20px;
        }
    }
}

@media (max-width: 320px) {
    .promo {
        padding-bottom: 60px;
        &__wrapper {
            margin-top: 60px;
        }
        &__icons {
            width: 100%;
            flex-wrap: wrap;
            margin-top: 25px;
        }
        &__icon {
            margin-bottom: 10px;
        }
    }
    .button {
        &_main {
            margin-top: 25px;
        }
    }
    .advantages {
        &__header {
            font-size: 24px;
        }
        &__icons {
            margin-top: 30px;
        }
        &__icon {
            img {
                margin-bottom: 15px;
            }
        }
    }
    .consultation {
        padding: 60px 10px 40px 10px;
        min-height: unset;
        &__descr {
            font-size: 15px;
        }
    }
    .title {
        &_left {
            font-size: 20px;
        }
    }
    .feed-form {
        width: 280px;
    }
    .feedback {
        title {
            font-size: 24px;
        }
    }
}



