.advantages {
    background-color: #f6f6f6;
    padding-bottom: 78px;
    padding-top: 70px;
    &__header {
        text-align: center;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__icon {
        text-align: center;
        width: 290px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 300;
        h2 {
            color: #0d0d0d;
            font-size: 18px;
            font-weight: 700;
        }
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 38px;
        }
        a {
            color: $main-color;
            text-decoration: underline;
        }
    }
}